#main_title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  /* border-bottom-width: 3px;
  border-bottom-style: solid; */
}

#div_spacer {
  margin-bottom: 5em;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#body{
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: 'Montserrat';
}

.form {
  min-width: 30%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-family: 'Montserrat';
}

#footer{
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: 'Montserrat';
}

.header{
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 300px;
  padding: 90px ;
}

.header-title{
  font-size: 100px;
}

.header-text{
  font-size: 15px;
}

.section{
  margin: 20px;
  flex-flow: row wrap;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  
}

.section > div {
  padding: 20px;
  height: 300px;
  margin: 5em;
  margin-left: 100px;
  margin-right: 100px;
}

.big-div {
  width: 100%;
}

.bg-grey{
  background-color:#f6f6f6;
}

.div-title {
  font-size: 30px;
  font-weight: 600;
}

.contact-container  {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width:100%;
  
}
.div-title{
  text-align: center;
}


.contact-form{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  font-family: 'Montserrat';
}

#contactSection{
  width:60%;
}

.contact-form > div {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

}

.contact-form #input-field {
  height: 30px;
  margin: 10px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.input-field {
  /* height: 30px; */
  /* margin: 10px 0; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;

}

.contact-btn {
  margin-top: .5em;
  padding: 10px;
  /* height: 40px; */
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: black;
}

.contact-btn:hover {
  background-color: white;
  color: black;
}

.footer{
  background-color:white;
  color: black;
  width: 100%;
  text-align: center;
  height: 200px;
  padding: 50px ;
}
.footer-title{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Montserrat';
}

.footer-text{
  font-size: 15px;
}

@media only screen and (min-width:560px) and (max-width:850px){
  .contact-form{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100%;
  }
  .header-title{
      font-size: 70px;
  }
    
  .header-text{
      font-size: 10px;
  }

  .section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .section > div {
      padding: 20px;
      height: 300px;
      margin: 3em;
      margin-left: 50px;
      margin-right: 50px;
    }
}
@media only screen and (min-width:150px) and (max-width:560px){
  .header-title{
  font-size: 50px;
  }
      
  .header-text{
  font-size: 10px;
  }
  .section{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  }
  .section > div {
      padding: 20px;
      height: 300px;
      margin: 3em;
      margin-left: 20px;
      margin-right: 20px;
  }
  .contact-form{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  width: 100%;
  }
}

